* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif", serif;
  background-image: url("./liko_school_cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 10px;
  width: 100vw;
}
.MainLabel {
  display: flex;
  width: 95vw;
  height: 15vh;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4vh;
  border-radius: 40px;
  background-color: rgb(60, 184, 168);
}

.buttonStart {
  width: 70vw;
  height: 50vh;
  font-size: 10vh;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  margin: 0 auto;
  display: block;
  color: rgb(44, 0, 0);
  background-color: rgb(155, 239, 193);
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.B-Answer {
  width: 20vw;
  height: 15vh;
  font-size: 2vw;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  margin: 0 auto;
  border: solid 3px;
  display: block;
  cursor: pointer;
  color: rgb(44, 0, 0);
  background-color: rgb(155, 239, 193);
  margin-bottom: 2px;
  border-radius: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.question-title {
  font-size: 6vh;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 8vh;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(112, 214, 123, 1) 0%,
    rgba(105, 187, 203, 1) 100%
  );
}
.grid-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid-conteiner-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.result {
  width: 50vw;
  height: 75vh;
  background: rgb(112, 214, 123);
  background: linear-gradient(
    90deg,
    rgba(112, 214, 123, 1) 0%,
    rgba(105, 187, 203, 1) 100%
  );
  display: flex;
  margin: 0 auto;
  padding: 1vw;
  justify-content: center;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vw;
}

.result-img {
  border-radius: 15px;
  width: 15vw;
  height: auto;
  margin-bottom: 1vw;
}

.result-title {
  font-size: 7vh;
}
.result-text {
  margin-bottom: 1vw;
  font-size: 3vh;
}
.hidden {
  display: none;
}
#Dark-Blue {
  background-color: darkblue;
  color: white;
}
#Green {
  background-color: Green;
}
#Dark-Green {
  background-color: darkgreen;
}
#Light-BLUE {
  background-color: lightskyblue;
}
#Brown {
  background-color: brown;
}
#Grey {
  background-color: Grey;
}
#Pink {
  background-color: Pink;
}
#White {
  background-color: White;
}
#Dark-Black {
  background-color: black;
  color: white;
}
#Energy-Green {
  background-color: #00cc99;
}
#Blue {
  background-color: blue;
  color: white;
}
#Black {
  background-color: rgb(39, 39, 39);
  color: white;
}
#winter {
  background-image: url("./Winter.jpeg");
  background-size: cover;
  background-position: center;
}
#summer {
  background-image: url("./Summer.jpeg");
  background-size: cover;
  background-position: center;
}
#spring {
  background-image: url("./Spring.jpeg");
  background-size: cover;
  background-position: center;
}
#Autumn {
  background-image: url("./Autumn.jpeg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 950px) {
  .MainLabel {
    font-size: 30px;
  }
  .grid-conteiner-4 {
    grid-template-columns: 1fr 1fr;
  }
  .result-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .question-title {
    font-size: 6vw;
  }
  .B-Answer {
    height: 15vh;
    width: 30vw;
    font-size: 3.8vw;
    padding: 5px;
  }
  .result-text {
    font-size: 5vw;
    margin-bottom: 1vh;
  }
  .result-title {
    margin-top: 0;
    font-size: 7vw;
    margin-bottom: 1vh;
  }
  .result-img {
    width: 40vw;
    margin-bottom: 10px;
  }
  .result {
    justify-content: space-around;
    width: 80vw;
    height: 60vh;
    margin-top: 12vh;
    padding: 5vw;
  }
}
